* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: OpenSans, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}